body {
    background-color: black;
    height: 100vh;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem;
}
h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.img-nasa img{
    width: 100%;
}

.input {
    display: flex;
    width: 100vw;
    /* flex-direction: column; */
    place-items: center;
}

.input > * {
    width: 150px;
}

button {
    background-color: #b98f19;
    border: 0;
    box-shadow: none;
    line-height: 20px;
}